@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }
  
  
  
  h1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 10vh;
      align-items: center;
      font-family: Product Sans;
      font-size: 6vw;
      padding: 20px;
      box-sizing: border-box;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  